body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.banner-area{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    min-height: 600px;
    
}
.banner-conatiner{
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-top: 80px;
}
.banner-conatiner h1{
    font-size: 55px;
    font-weight: 700;
    color:white;
}
.banner-conatiner p{
    color:white;
    margin-bottom: 50px;
    font-size: 18px;
}

.order-link{
    text-decoration: none;
    color:white;
    background-color: tomato;
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 10px;
}
.donate-contain{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.donate-amount{
    display: flex;
    width: 60%;
    margin:auto;
    
}
.amount{
    background-color: rgba(228, 217, 217, 0.739);
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 20px;

}
.amount h5{
    font-size: 25px;
    padding:10px;
    text-align: center;
}
#two-hundred{
    background-color: rgba(255, 71, 234, 0.575);
    border: 2px solid tomato;
}
.other-content{
    text-align: center;
    margin-top: 40px;
}
.hr-row{
    width:50%;
    margin-bottom: 40px;
    color:gray
}
.donate-plan{
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 100px 0;
}
.food-family-container{
    display: flex;
    margin-top: 30px;
}
.common-div{
    text-align: left;
    background-color: aquamarine;
    width:33.33%;
    margin: 0 8px;
    border-radius: 8px;
}
.common-div-content{
    padding-left: 20px;
    margin: 40px 0;
}
.common-div-content h4{
    font-size: 25px;
}
#blue-white{
    background-color: rgba(197, 197, 230, 0.487);
}
#pink-color{
    background-color: pink;
}
#yellow-color{
    background-color: rgba(180, 180, 116, 0.435);
}
.update-section{
    text-align: center;
    padding-bottom: 50px;
}
.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    height: 40px;
    width: 250px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.subscribe-btn{
    background-color: tomato;
    border: none;
    padding: 11px 20px;
    font-size: 19px;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left:-10px;
}
form{
    background-color: rgba(214, 158, 68, 0.456);
    padding: 80px 150px;
}