body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.banner-area{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    min-height: 600px;
    
}
.banner-conatiner{
    text-align: center;
    width: 55%;
    margin: 0 auto;
    padding-top: 80px;
}
.banner-conatiner h1{
    font-size: 55px;
    font-weight: 700;
    color:white;
}
.banner-conatiner p{
    color:white;
    margin-bottom: 50px;
    font-size: 18px;
}
.banner-conatiner a{
    text-decoration: none;
    color:white;
    background-color: tomato;
    padding: 15px 20px;
    font-size: 22px;
    border-radius: 10px;
}